<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login Logout 2.0</title>
</head>
<body>
<h1>Create Account</h1>
<a href="/">Home</a> |
<a href="/login">Login</a>

<nav></nav>

<form method = "post" th:object="${user}">
    <div>
        <label th:for="username">Username</label>
        <input type="text" th:field="*{username}"/>
        <span th:text="${username_error}" class="error"></span>
    </div>
    <div>
        <label th:for="password">Password</label>
        <input type="password" th:field="*{password}"/>
        <span th:text="${password_error}" class="error"></span>
    </div>
    <div>
        <label for="verify_password">Verify Password</label>
        <input type="password" id="verify_password" name="verify_password"/>
        <span th:text="${verify_password_error}" class="error"></span>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>

</body>
</html>