<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login Logout 2.0</title>
</head>
<body>
    <h1>Login</h1>

    <a href="/">Home</a> |
    <a href="/create-account">Create Account</a>

    <form method = "post">
        <div>
            <label for="userName">Username</label>
            <input type="text" id="userName" name="userName" th:value="${userName}">
            <span th:text="${missing_username_error}" class="error"></span>
            <span th:text="${invalid_username_error}" class="error"></span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <span th:text="${missing_password_error}" class="error"></span>
            <span th:text="${incorrect_password_error}" class="error"></span>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

</body>
</html>